### dependency
tqdm
dvc
pandas~=1.4.2
numpy~=1.22.4
PyYAML~=6.0
mkdocs-material
opencv-python
### local packages -
# -e . # << uncomment this to install from setup.py

tensorflow~=2.9.1
keras~=2.9.0
src~=0.0.1
setuptools~=61.2.0